<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/mladenplavsic/bootstrap-navbar-sidebar/3bd282bd/docs/navbar-fixed-left.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .page-header {
            margin-top: -23px;
            height: 60px;
        }

        .navbar-brand {
            margin-top: -130px;
        }

        .sign-out-main {
            padding-top: 25px;
            font-size: 16px;
            padding-left: 1220px;
        }

        .sign-out {
            margin-top: 200px;
            padding-top: 100px;
            text-decoration: none;
            color: white;
        }

        .card-budget {
            margin-left: -30px;
            border-radius: 2rem;

        }

        .card-expenses {
            margin-left: -10px;
            border-radius: 2rem;

        }

        .card-highest {
            margin-left: 10px;
            border-radius: 2rem;

        }

        .card-lowest {
            margin-left: 20px;
            margin-right: -100px;
            border-radius: 2rem;
        }

        {#.bg{#}
        {#    background-image: url('bg.png');#}
        #}#}
        .dropdown {
            padding: 25px;
            margin-left: -50px;
        }
        .dropdown1{
            margin-left: 100px;
        }
        .month-name {
            margin-top: 25px;
            margin-left: 20px;
            font-size: 17px;
        }
        .dept-name{
            margin-top: 25px;
            margin-left: 20px;
            font-size: 17px;
        }

        #line-plot {
            margin-left: -20px;
            margin-right: -90px;
            margin-top: 20px;
            width: 800px;
            height: 500px;
            border-left: 3.2px solid;
            border-color: darkblue;
        }

        .about {
            margin-top: 160px;
            margin-left: -50px;
            font-size: 16px;
        }

        #tables {
            width: 1500px;
            height: 500px;
            margin-left: -100px;
            margin-right: -100px;
            margin-top: -20px;
        }

        .dropdown-toggle {
            margin-top: 20px;
            margin-left: -50px;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    {#{{ user.first_name }}<br>#}
    {#    #}
    {#<h2>Modal Example</h2>#}
    <nav class="navbar navbar-inverse navbar-fixed-left " style='background-color : #7daed4;'>
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="#">Budget Tracker</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../../accounts/home_corp">Home</a></li>
                    <li><a id="myBtn1" data-toggle="modal" data-target="#exampleModal1">Add Budget</a></li>
                    <li><a id="myBtn" data-toggle="modal" data-target="#exampleModal">Add Expenses</a></li>
                    <li><a href="../../../accounts/home_graph_corp">Show Graphs</a></li>
                    <li><a href="../../../accounts/corp_pdf">Generate Report</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="page-header" style='background-color : #7daed4;'>
        <p class='sign-out-main'><a class='sign-out' href="../../../accounts/logout">Sign Out</a></p>

    </div>
    <div class="container">
        <div class="row">
            <div class="dropdown">
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" formmethod="POST"
                            value="Month">
                        Month
                    </button>
                    <div class="dropdown-menu" id='mymonth1' data-model-name="mymonth1"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/1">January</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/2">February</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/3">March</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/4">April</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/5">May</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/6">June</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/7">July</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/8">August</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/9">September</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/10">October</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/11">November</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/{{ dep_number }}/12">December</a>
                    </div>
                </form>

            </div>
            {% autoescape off %}
                <p class='month-name'>{{ month }}</p><br>
            {% endautoescape %}

            <div class="dropdown dropdown1">
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle1" type="button" id="dropdownMenuButton1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" formmethod="POST"
                            value="Department">
                        Department
                    </button>
                    <div class="dropdown-menu" id='dept' data-model-name="dept"
                         aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="../../../accounts/home_corp/1/{{ month_number }}">{{ all_lists.0 }}</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/2/{{ month_number }}">{{ all_lists.1 }}</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/3/{{ month_number }}">{{ all_lists.2 }}</a>
                        <a class="dropdown-item" href="../../../accounts/home_corp/4/{{ month_number }}">{{ all_lists.3 }}</a>
                    </div>
                </form>
            </div>

                <p class="dept-name">{{ dep }}</p>
        </div>
        <div class="row">
            <div class="col">
                <div class='card-budget card' style="width: 23rem; background-color : #e8a220;">
                    <div class="card-body">
                        <h5 class="card-title">Total Budget</h5>
                        {% autoescape off %}
                            <h5 class="card-text">Rs. {{ total1 }}<br><br><br></h5>
                        {% endautoescape %}
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class='card-expenses card' style="width: 23rem; background-color : #eb73cf;">
                    <div class="card-body">
                        <h5 class="card-title">Total Expense</h5>
                        {% autoescape off %}
                            <h5 class="card-text">Rs. {{ total }}<br><br><br></h5>
                        {% endautoescape %}
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class='card-highest card' style="width: 23rem; background-color : #5d80e8;">
                    <div class="card-body">
                        <h5 class="card-title">Highest Expense</h5>
                        {% autoescape off %}
                            <h5 class="card-text">Rs. {{ max_exp }}<br><br><br></h5>
                        {% endautoescape %}
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>

            <div class="col">
                <div class='card-lowest card' style="width: 23rem; background-color : #72eb6e;">
                    <div class="card-body">
                        <h5 class="card-title">Remaining Budget</h5>
                        {% autoescape off %}
                            <h5 class="card-text">Rs. {{ rem_budget }}<br><br><br></h5>
                        {% endautoescape %}
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="about">
                    <p>Welcome to your Budget Tracker! We complete all your budget needs and give you the power to have
                        complete control over it.</p>
                    <p>Analyze your budget stats, see it as Pie chart, Bar graph, Line Chart or go ahead and add some
                        new expenses. Print it out in a PDF of you want. We let you do it all !</p>
                </div>
            </div>
            <div class="col">
                <div id='line-plot'>

                </div>
            </div>
        </div>
        <div class="row">
            <div id="tables">

            </div>

        </div>
        <script>
            {% autoescape off %}
                let values = {{ values }};
                let values1 = {{ values1 }};
                let labels = {{ labels }};
            {% endautoescape %}
            var trace1 = {
                x: labels,
                y: values,
                type: 'scatter',
                name: 'Expenses'
            };

            var trace2 = {
                x: labels,
                y: values1,
                type: 'scatter',
                name: 'Budget'
            };
            var layout = {
                showlegend: true,
                xaxis: {
                    title: 'Category',
                    showgrid: true,
                    zeroline: true
                },
                yaxis: {
                    title: 'Amount',
                    showline: true
                }
            };

            var data = [trace1, trace2];

            Plotly.newPlot('line-plot', data, layout, {displayModeBar: false});
        </script>
        <script>
            {% autoescape off %}
                let values3 = {{ values }};
                let values4 = {{ values1 }};
                let labels1 = {{ labels }};
                let val_tot = {{ total }};
                let val_tot1 = {{ total1 }};
            {% endautoescape %}
            var values2 = [
                ['<b>Budget</b>', '<b>Expense</b>'],
                [values4[0], values3[0]],
                [values4[1], values3[1]], [values4[2], values3[2]], [values4[3], values3[3]], [values4[4], values3[4]], [values4[5], values3[5]], [values4[6], values3[6]], [values4[7], values3[7]], [values4[8], values3[8]], [values4[9], values3[9]], [val_tot1, val_tot]]

            var data = [{
                type: 'table',
                columnorder: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                columnwidth: [300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300],
                header: {
                    values: [["<b>      </b>"], [labels1[0]], [labels1[1]], [labels1[2]], [labels1[3]], [labels1[4]], [labels1[5]], [labels1[6]], [labels1[7]], [labels1[8]], [labels1[9]], ['Total']],
                    align: "center",
                    line: {width: 2, color: 'black'},
                    fill: {color: "blue"},
                    font: {family: "Times-Roman", size: 14.5, color: "white"}
                },
                cells: {
                    values: values2,
                    align: "center",
                    line: {color: "black", width: 1},
                    font: {family: "Times-Roman", size: 15, color: ["black"]}
                }
            }]

            Plotly.newPlot('tables', data);
        </script>
        {##}
        {#        <script>#}
        {#            $(document).ready(function () {#}
        {#                $('#mymonth1 a').on('click', function () {#}
        {#                    var txt= ($(this).text());#}
        {#                    alert("Month "+txt);#}
        {#                });#}
        {#            });#}
        {#        </script>#}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Expenses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="modal-form" method="POST">
                        {% csrf_token %}
                        Select the month for the budget:
                        <select id="mymonth" name="mymonth">
                            <option value="None" name="None">None</option>
                            <option value="January" name="January">January</option>
                            <option value="February" name="February">February</option>
                            <option value="March" name="March">March</option>
                            <option value="April" name="April">April</option>
                            <option value="May" name="May">May</option>
                            <option value="June" name="June">June</option>
                            <option value="July" name="July">July</option>
                            <option value="August" name="August">August</option>
                            <option value="September" name="September">September</option>
                            <option value="October" name="October">October</option>
                            <option value="November" name="November">November</option>
                            <option value="December" name="December">December</option>
                        </select>
                        <p>The selected value:
                            <select id="myselection" name="myselection">
                                <option value="None" name="None">None</option>
                                <option value="Loans" name="Loans">Loans</option>
                                <option value="Salaries" name="Salaries">Salaries</option>
                                <option value="Maintenance" name="Maintenance">Maintenance</option>
                                <option value="Inventory" name="Inventory">Inventory</option>
                                <option value="Party Fund" name="Party Fund">Party Fund</option>
                                <option value="Variable Costs" name="Variable Costs">Variable Costs</option>
                                <option value="Bonuses" name="Bonuses">Bonuses</option>
                                <option value="Operation Losses" name="Operation Losses">Operation Losses</option>
                                <option value="Travel expenses" name="Travel Expenses">Travel Expenses</option>
                                <option value="Charity" name="Charity">Charity</option>
                            </select>
                            <br>
                        <div><br><label id='q2'>Expense</label>:<input type='number' id='exp' name='exp'
                                                                       placeholder='Enter Balence' required='required'
                                                                       min="0">
                            <br></div>


                        <input type="submit" class="btn btn-outline-success" name="Submit" value="Add Expense"></input>

                        <br>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="modal-form" method="POST">
                        {% csrf_token %}
                        Select the month for the budget:
                        <select id="mymonth1" name="mymonth1">
                            <option value="None" name="None">None</option>
                            <option value="January" name="January">January</option>
                            <option value="February" name="February">February</option>
                            <option value="March" name="March">March</option>
                            <option value="April" name="April">April</option>
                            <option value="May" name="May">May</option>
                            <option value="June" name="June">June</option>
                            <option value="July" name="July">July</option>
                            <option value="August" name="August">August</option>
                            <option value="September" name="September">September</option>
                            <option value="October" name="October">October</option>
                            <option value="November" name="November">November</option>
                            <option value="December" name="December">December</option>
                        </select>
                        <p>The selected value:
                            <select id="myselection1" name="myselection1">
                                <option value="None" name="None">None</option>
                                <option value="Loans" name="Loans">Loans</option>
                                <option value="Salaries" name="Salaries">Salaries</option>
                                <option value="Maintenance" name="Maintenance">Maintenance</option>
                                <option value="Inventory" name="Inventory">Inventory</option>
                                <option value="Party Fund" name="Party Fund">Party Fund</option>
                                <option value="Variable Costs" name="Variable Costs">Variable Costs</option>
                                <option value="Bonuses" name="Bonuses">Bonuses</option>
                                <option value="Operation Losses" name="Operation Losses">Operation Losses</option>
                                <option value="Travel expenses" name="Travel Expenses">Travel Expenses</option>
                                <option value="Charity" name="Charity">Charity</option>
                            </select>
                            <br>
                        <div><br><label id='q2'>Budget</label>:<input type='number' id='exp1' name='exp1'
                                                                      placeholder='Enter Balance:' required='required'
                                                                      min="0">
                            <br></div>


                        <input type="submit" class="btn btn-outline-success" name="Submit1" value="Add Budget"></input>
                        <br>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>